@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Fredoka+One&display=swap');
body{
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url('img/dam.jpg');
	background-repeat: none;
	background-size: cover; 
}
.header{
   background: rgba(245, 245, 220, 0.5);
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow: px 7px 5px rgba(50, 50, 50, 0.77);
	height: 200px;
}

.links{
	margin-right: 20px;
	color: #c4830c;
	font-size: 12px;
}

.links:hover{
	text-decoration: none;
	color: #c4830c;
}

.left-news-section{
	background: rgba(245, 245, 220, 0.5);
	width: 300px;
	float: left;
}

.left{
	float: left;
}

.logo{
	float: left;
}



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Verdana', sans-serif;
  }
  
  .pa{
	font-size: 35px;
	font-weight: bold;
	background: linear-gradient(to bottom, #055c13, #c4830c, #493902);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	max-width: 800px;
	text-transform: uppercase;
	font-family: 'Permanent Marker', cursive;
	text-align: right;
	float: right;
	/* line-height: .77; */
  }


.buttons{
	display: inherit;
	float: right;
	width: 60%;
	margin-top: 10%;
	opacity: 0.7;
}
/* .align{
	text-align: center;
	background-color: white;
	opacity: 0.5;
} */

a{
	text-decoration: none;
	color: #625247;
}

h1{
    font-family: 'Baloo Chettan', cursive;
    display: inline;
    padding: 5%;
    padding-right: 15%;
    color: rgb(29, 109, 19);
    font-size:30px;
}

.textos{
    display: inline;
}

#headline a img, #featured a img {
	border:1px solid #bbb;
	margin-top:5px;
	margin-right:10px;
	}

* {

	margin:0;

	padding:0;

	}

a:link, a:visited {

	color: #3c57a7;

	text-decoration:none

    }
    
a:hover, a:active {

	color: #3c57a7;

	text-decoration:underline;

	}

#featured {

	float:right;
    margin:3px;
    padding-right: 5%!important;
	width:300px;
    border: 0px 10px 0px 0px solid #000;
   

	}

#featured .clearfloat {

	margin-top:7px;

	margin-bottom:9px;

	}



#featured .info {

	margin-top:5px;

	padding-top:5px;

	float:right;

	width:185px;

	}

#featured .title {
	font-weight:bold;
	}



#featured .divider {

	margin-left:85px;

	}

.clearfloat:after {

	content:".";

	display:block;

	height:0;

	clear:both;

	visibility:hidden;

	}



.clearfloat {

	display: inline-block;

	}
